* {
	margin: 0;
	padding: 0;
}
.header {
	padding: 34.17px 0;
	margin: 0 0 21px 0;
}
.top-info-title {
	margin: 0 0 17px 0;
}
.top-info-text {
	margin: 0 0 16px 0;
}
.top-content {
	margin: 0 0 53px 0;
}